<div id="ContentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="border-top-left-radius: 20px 20px;border-bottom-right-radius: 20px 20px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                	Message
                </h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>